.documentation{
    height: 800px;
    background-color: #313131;
}
.documentation-col{
    height: 100%;
}
.doc-info{
    padding-right: 0;
}
.doc-nav{
    padding-top: 40px;
    border-right: 2px solid white;
}
.doc-list{
    padding-top: 60px;
    padding-left: 30px;
    border-right: 2px solid white;
}
